*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(#ffffff5c , #ffffff5c), url(img/hazard.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}