*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 255, 0.418), rgba(128, 0, 128, 0.664));
}

.link{
    text-decoration: none;
    border: 2px solid #000;
    background: transparent;
    padding: 20px 40px;
    position: relative;
    border-radius: 7px;
    color: #000;
    transition: 1s;
    overflow: hidden;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.link:hover{
    color: #fff;
}
.link span{
    position: relative;
    z-index: 2;
}

.link::before{
    content: "";
    position: absolute;
    background-color: #000;
    width: 0px;
    height: 0px;
    top: var(--yPos);
    left: var(--xPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: all 0.5s ease;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.link:hover::before{
    width: 400px;
    height: 400px;
}
